services:

  web_run_unit_tests:
    build:
      dockerfile: Dockerfile
    volumes:
      - .:/code
    command: >
      sh -cx "coverage run manage.py test item/ &&
              coverage report -m"

  web_run_e2e_tests:
    build:
      dockerfile: Dockerfile.e2e
    volumes:
      - .:/code
    command: python manage.py test functional_tests/
